body {
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}
  
.info-section {
    background-color: #000;
    color: #fff;
    padding: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 150px;
    padding-left: 100px;
  }
  
.info-section h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
.info-section p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  
.contact-details {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
  }
  
.contact-card-1 {
    background-color: #3E3E3E;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    margin-bottom: 20px;
  }

.contact-card-2 {
    color: #3E3E3E;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    margin-bottom: 20px;
  }
  
.contact-card-1 p,.contact-card-2 p{
    margin: 0;
    
}
  
  
.info-section p{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;

  }

.info-section .head{
    margin-bottom: 5px; 
    padding-bottom: 0;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.contact-card-1 .sub-info{
    font-size: 16px;
    color: #fff; 
}

.contact-card-2 .sub-info {
  font-size: 16px;
  color: #3E3E3E; 
}
  
.info-section h1{
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 300;
    font-size: 70px;
}


.social-links {
    display: flex; 
    flex-direction: column;
    gap: 30px; 
}
  
.social-item {
  display: flex; 
  align-items: center; 
  gap: 10px; 
}

.find-us-icons {
  width: 30px; 
}

.social-links a {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Adjust text size if necessary */
  line-height: 1; /* Matches text height with the image */
}
  
  .map-section {
    width: 50%;
  }
  
  iframe {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    border: none;
  }

  .find-us-icons{
    width: 50px;
  }