
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    text-align: center;
    background-color: transparent; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
    width: 100%;
    max-width: 700px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    margin-top: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.input-group-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

.input-field {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.input-field label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-field input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.login-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login-button:hover {
    background-color: #ddd;
}

@media (max-width: 600px) {
    .login-box {
        padding: 15px;
    }

    .logo h1 {
        font-size: 28px;
    }
}

#bg-image {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1; 
    pointer-events: none; 
    opacity: 0.9; 
}