

/* CHATBOX
=============== */
.chatbox {
    position: fixed; /* Ensures it floats relative to the viewport */
    bottom: 30px;    /* Adjust distance from the bottom */
    right: 30px;     /* Adjust distance from the right */
    z-index: 1000;   /* High enough to appear above other elements */
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -1;      /* Hidden when inactive */
    opacity: 0;       /* Fully transparent when inactive */
    transition: all 0.5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(0); /* No offset when active */
    z-index: 1001;           /* Higher than other elements */
    opacity: 1;              /* Fully visible */
}

/* BUTTON */
.chatbox__button {
    text-align: right;
    z-index: 1002; /* Ensure the button is above other elements */
}


/* HEADER */
.chatbox__header {
    height: 80px;
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    color: black;
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}


